Binaries/**
Build/**
Source/**
Content/Blueprints/**
Content/Collections/**
Content/Developers/**
Content/Effects/**
Content/Food_Pack_01/**
Content/InfinityBladeGrassLands/**
Content/Map/**
Content/Mordhau/AI/**
Content/Mordhau/Animations/**
Content/Mordhau/Assets/**
Content/Mordhau/Audio/**
Content/Mordhau/Blueprints/**
Content/Mordhau/BumpingPub/**
Content/Mordhau/Materials/**
Content/Mordhau/Maps/AndrewG_Testing_Map/**
Content/Mordhau/Maps/Contraband/**
Content/Mordhau/Maps/Crossroads/**
Content/Mordhau/Maps/DuelCamp/**
Content/Mordhau/Maps/FeitoriaMap/**
Content/Mordhau/Maps/Funland2/**
Content/Mordhau/Maps/Grad/**
Content/Mordhau/Maps/GreatHall/**
Content/Mordhau/Maps/LineageDuel/**
Content/Mordhau/Maps/MainGamemode/**
Content/Mordhau/Maps/MaxMap/**
Content/Mordhau/Maps/Promo/**
Content/Mordhau/Maps/SiegeTest/**
Content/Mordhau/Maps/SteamMap/**
Content/Mordhau/Maps/TaigaMap/**
Content/Mordhau/Maps/TestMap/**
Content/Mordhau/Maps/ThePit/**
Content/Mordhau/Maps/Tourney/**
Content/Mordhau/Maps/uSDK/**
Content/Mordhau/Maps/uSDKTest/**
Content/Mordhau/MaterialFunctions/**
Content/Mordhau/Meshes/**
Content/Mordhau/Particles/**
Content/Mordhau/Textures/**
Content/Mordhau/UI/**
Content/Mordhau/uSDKAssets/**
Content/ProceduralNaturePack/**
Content/StarterContent/**
Content/Test/**
Content/UMA/**
Content/*.uasset
Plugins/**


# Visual Studio 2015 user specific files
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# These project files can be generated by the engine
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Binary Files
Binaries/*
Plugins/*/Binaries/*

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Configuration files generated by the Editor
Saved/*

# Compiled source files for the engine to use
Intermediate/*
Plugins/*/Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*